html, body{
	width: 100%;
	height: 100%;
}

body, .fonte {
	/*font-family: 'Helvetica Neue' !important;*/
	font-style: normal !important;
	font-weight: 700 !important;
	color: #FFF !important;
}

.hr-questao{
	height: 2px !important;
	color: #FFB82F;
	opacity: 1;
	
}

.textarea-fundo{
	background: #FFFFFF;
	opacity: 0.56;
	/* Black / Black 32 */

	border: 1px solid rgba(17, 17, 17, 0.32);
	border-radius: 8px;
}

.fonte-secundaria{
	font-style: normal;
	font-weight: 600;
	font-size: 78px;
}

.fundo-branco{
	background-color: #FFF;
}

.fonte-cinza{
	color:#6C6A6A;
}

.fundo{
	background-color: #E5E5E5 !important;
	border: none !important;
}

.centralizar{
	padding-left: 20% !important;
	padding-right: 20% !important;
}

.primaria{
	background-color: #2367B0; 
}

.secundaria{
	background-color: #FFB82F !important;
}

.terciaria{
	background-color: #1C538E !important;
}

.text-primaria{
	color: #2367B0 !important;
}

.text-secundaria{
	color: #FFB82F !important;
}

.perquisar::placeholder{
	color: #FFF;
}

#menu-lateral > li{
	border-top: 2px solid #FFB82F;

}

.abrir::after{
	float:right;
	content: url("../img/expand_more.svg");
		
}
.baixo::after{
	float:right;
	content: url("../img/expand_more baixo.svg");
	
}

#menu-lateral > li:last-child{
	border-bottom: 2px solid #FFB82F;
}

#menu-lateral > li > ul{
	display: none;
}

.w-70{
	width: 70% !important;
}

.w-60{
	width: 60% !important;
}

a{
	text-decoration: none !important;	
}

.list-card{
	padding: 0;
	list-style-type: none;
	font-size: 25px;
}

.list-card li::before{
	content: url("../img/arrow_forward.svg");
}

#cardes .card{
	margin-left: 1%;
	width: 30.3% !important;	
}

#aluno, #professor, #instituicao{
	border-radius: 3%;
}

#cardes{
	margin:auto;
}

#planos .card{
	width: 40%;
	height: auto;
}

#aluno h4::after{
	float:right;
	content: url("../img/person_outline.svg");
}

#professor h4::after{
	float: right;
	content: url("../img/group.svg");
}

#instituicao h4::after{
	float: right;
	content: url("../img/groups.svg");
}

#artigo{
	width: 100%;
	height: auto;
	margin-top: 2%;
}

a:hover{
	text-decoration: none !important;
}

.limpo-list{
	list-style: none !important;
}

.check-list{
	display:inline-block;
	margin: 5%;	
}

.check-list > li{
	list-style-image: url("../img/check.svg");
	font-size: 100%;
}

ul li::marker{
	color:red !important;
}

#artigo > img{
	width: 40%;
	margin-top: 2%;
	border-radius: 5%;
	margin-bottom: 2%;
}

@media (max-width: 1054px){
	#cardes .card{
	width: 45% !important;
	}

}

@media (max-width: 570px){
	#cardes .card{
	margin: 5%;
	width: 90% !important;
	}

}
